html {
  font: 14px proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  background-color: #34495e;
  color: #f39c12;
}
h1 {
  font-size: 38px;
  font-weight: normal;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
p {
  margin: 35px 0;
}
.btn {
  background-color: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
}
.container {
  margin: 0 auto;
  padding-top: 35px; 
  text-align: center;
  width: 40%;
}
.highlight {
  color: #61dafb;
}